*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    color: aliceblue;
}
header{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    border-bottom: 5px solid hsl(175, 87%, 39%);
    background-color: rgb(18, 45, 68);
}
header .logo img{
    height: 120px;
}
.nev ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    }
    .nev ul li{
        letter-spacing: 3px;
        font-size: 18px;
        background-color:oklch(71.024% 0.1235 185.327);
        padding: 10px;
        border-radius: 10px;
    }
    .nev ul li:hover{
        background-color: black;
        color: aliceblue;

    }
    .search-box input{
        width: 200px;
        height: 40px;
        color: black;
        background-color: rgb(217, 226, 226);
        border: none;
        text-align: center;
        margin-left: 50px;
        border-radius: 15px;}
    .search-box button
       {
        padding: 10px;
        margin-left: 8px;
        border: none;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        color: black;
        background-color:hsl(175, 87%, 39%);
      }
      .left h1{
        color: hsl(175, 87%, 39%);
        font-weight: 100;
        margin: 50px;
      }
       .left p{
        color: black;
        font-weight: 100;
        margin: 50px;
      }
      .heroSection{
        width: 100%;
        display: flex;
      }
      .right img{
        height: 80%;
      }
     .left button{
        margin-left: 50px;
        padding: 10px 20px;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        background-color:oklch(71.024% 0.1235 185.327) ;
     }